# Eclipse
.classpath
.project
.settings
eclipsebin

# Ant
bin
gen
build
out
lib

# Maven
target
pom.xml.*
release.properties
coverage.ec

# IntelliJ
.idea/*
!.idea/codeStyleSettings.xml
*.iml


# Robolectric
tmp

.DS_Store

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
.gradle
local.properties
library/build
